html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}


.article, .cat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 1px 5px;
    margin: 20px 40px 10px 40px;
}

.commande{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    overflow: hidden;
}

.m-b-md {

    margin-bottom: 30px;
}

nav {
    box-shadow: 0px 1px 5px;
    width: 100%;

}

.photo
{
    max-width: 12rem;
    max-height: 12rem;
}

p strong
{
    color: red;
    text-decoration: underline red;
}

.bouton {
    width: 900px;
    height: 150px;
    font-size: 30px;
    align-items: center;
    background-color: #FFF;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 1px 5px;

}
.acceuil{
    font-size: 40px;

}

.form-prd {
    align-items: center;
    background-color: #FFF;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 1px 5px;
}

